body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("todo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .tilt {
    color: white;
    text-align: center;
    position: sticky;
    background-color: rgb(136, 130, 130);
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  
  .content {
    background-color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    margin-top: 100px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 300px;
   
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .note {
   
    min-width: 420px;
    max-width: 700px;
    float: right;
   
   
 
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  .noteform {
    padding-top: 20px;
  }
  
  .noteform input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 17px;
 
  }
  
  .notes {
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    width: 100%;
    max-width: 700px;
   
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 900px) {
    .icerik, .note {
      width: 100%;
      margin: 20px;
    }
    
    .noteform {
      padding-top: 10px;
    }
    
    .notes {
      margin-top: 50px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .content {
        display: none;
      }
  }

  @media only screen and (max-width: 600px) {
    .content {
      display: none;
    }
    .note{
     align-items: center;
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     
    }
  }